
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
}

/* Style général pour le menu */
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f8f9fa; /* Couleur de fond */
}

ul.menu li {
    margin: 0 15px;
}

ul.menu li a {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif; /* Assurez-vous que la police soit cohérente */
}

ul.menu li a:hover {
    background-color: #e0e0e0;
    color: #000; /* Optionnel : couleur au survol */
}

#currentpage  {
    color: red; /* Couleur de la page courante */
}

/* Ajoutez une bordure ou un effet d'ombre pour plus de profondeur si souhaité */
ul.menu li a {
    box-shadow: 0 4px 2px -2px gray;
}

ul.menu li a.active {
    border-bottom: 3px solid red;
}


div.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


div.container h2 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px; 
}


div.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/arriere plan accueil.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}


div.container p {
    font-size: 1.7rem;
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 0; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

body.body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

div.cv-container {
    display: grid;
    grid-template-columns: 250px 1fr; 
    gap: 20px;
    
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('../images/arriere plan cv.jpg');
    background-size: cover;
    background-position: center;

    
}
.profile-photo {
    width: 150px; 
    height: auto;
    border-radius: 50%; 
    display: block;
    margin: 0 auto 20px; 
}

.sidebar {
    background-color: #f8f8f8;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.sidebar p {
    margin: 5px 0;
}


.main-content {
    padding: 20px;
}

h1, h2 {
    color: #333;
    margin-bottom: 15px;
}

h3 {
    color: #666;
    margin-bottom: 5px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}







footer {
    background-color: #e0e0e0;
    color: #333;
    
    text-align: center;
    padding: 10px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
footer a:hover {
    text-decoration: underline;
}